.card {
  background-color: var(--primary-color);
  border: 3px dashed var(--secondary-color);
  border-radius: 15px;
  padding: 5px;
}

.card__body,
.card__tags {
  padding: 20px;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 0px 20px;
}

.card__question {
  font-size: 1.8em;
  font-weight: 800;
  margin: 0;
}

.card__answer {
  border: 3px dashed var(--secondary-color);
  border-radius: 8px;
  padding: 20px;
  margin: 0;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card__button {
  padding: 2px 12px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}

.card__button--answer {
  padding: 12px 0px;
  border-radius: 8px;
}

.card__button--bookmark {
  margin-left: auto;
}
