.card {
  background-color: var(--primary-color);
  border: 3px dashed var(--secondary-color);
  border-radius: 15px;
  margin-bottom: 1.25em;
}

.card__tags {
  padding: 1.25em;
}

.card__body,
.card__header {
  padding: 1.25em 1.25em 0 1.25em;
}

.card__question {
  font-size: 1.8em;
  font-weight: 800;
  margin: 0;
}

.card__answer {
  border: 3px dashed var(--secondary-color);
  border-radius: 8px;
  padding: 1.25em;
  margin: 0;
}
.card__answer--hidden {
  display: none;
}

.card__answer--display {
  display: block;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card__button {
  padding: 2px 12px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}

.card__button--answer {
  width: 100%;
  padding: 12px 0px;
  margin-bottom: 1.25em;
  border-radius: 8px;
}

.card__button:hover,
.card__button--answer:hover {
  background-color: var(--background-color);
  transition: 600ms ease-in-out;
}

.card__button--bookmark {
  margin-left: auto;
}
