.header {
  background-color: var(--primary-color);
  margin: 0 0 2.5em 0;
  border-bottom: 3px dashed var(--secondary-color);
}

.header__inner {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.header__title {
  padding: 0.8em;
  margin: 0;
}
